html {
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

h2 {
  font-family: Agbalumo;
}

/* Navbar */

.navbar {
  /* already has position relative from Bootstrap */
  position: relative;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler span {
  height: 1.5rem;
  width: 30px;
}

.navbar-brand {
  /* Bootstraps margin not needed and actually not wanted - because nav <ul> is no longer to its right - and in small screens its actually in the middle! */
  margin-right: 0;
  font-family: Agbalumo;
  letter-spacing: 3px;
  --bs-navbar-brand-font-size: 1.5rem;
}

.nav-item {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
}

.nav-item:hover {
  border: 1px solid rgb(26, 26, 26);
  border-radius: 5px;
  background-color: rgba(56, 56, 56, 0.397);
  box-shadow: 3px 3px black;
}

/* Hero Section */

.hero-wrapper {
  position: absolute;
  overflow: hidden;
  height: 1000px;
  width: 100%;
}

.hero {
  width: 100%;
  min-width: 450px;
  height: 1000px;
  position: absolute;
  /* nudge the background upwards */
  top: -150px;
  background-image: linear-gradient(
      to top,
      rgb(33, 37, 41, 1) 30%,

      rgba(0, 0, 0, 0) 50%
    ),
    url(../images/explorer1500W.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* align background image to start from the right */
  background-position: right;
}

/* for pushing the about section below the hero background image */
.spacer {
  height: 475px;
}

/* About Section */

.about {
  position: relative;
}

.btn:hover {
  background-color: rgb(255, 0, 115);
  box-shadow: 3px 3px rgb(0, 0, 0);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0);
}

.btn:active {
  background-color: rgb(243, 78, 180) !important;
  box-shadow: 3px 3px rgb(0, 0, 0) !important;
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
}

/* Skills Section */

/* About Me Section blended with Hero Section - Semi-solved but as soon as you put additional sections below issues arise - and the solution shows to be messy - TRY ADDING background to the Skills Section below */
.skills {
  /* height: 200px; */
  /* background-color: aquamarine; */
  position: relative;
  /* border: 1px solid red; */
}

.skills .card {
  overflow: hidden;
}

.skills .card .frame {
  position: relative;
  display: flex;
  justify-content: center;
  height: 300px;
  /* border: 1px solid red; */
  overflow: hidden;
}

.skills .card img {
  position: absolute;
}

.skills .card.html img {
  position: absolute;
  top: 0px;
  height: 100%;
  width: auto;
}

.skills .card.css img {
  position: absolute;
  height: 100%;
  width: auto;
}

.skills .card.js img {
  position: absolute;
  height: 100%;
  width: auto;
}

.skills .card.git img {
  position: absolute;
  height: 100%;
  width: auto;
}

/* work projects */

.card {
  overflow: hidden;
}

.card .card-body {
  min-height: 100px;
}

.work .card .frame {
  overflow: visible;
  height: 300px;
}

.card.lusty-finance .frame {
  height: 300px;
}

.work .card {
  border-radius: 20px;
}

/* contact section */

.contact {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  /* height: 200px; */
  background-color: rgb(44, 50, 55);
}

@media only screen and (min-width: 576px) {
  /* Bootstrap sm breakpoint */
  .navbar-toggler span {
    width: 40px;
  }
  .navbar img {
    width: 80px;
  }

  .navbar-brand {
    --bs-navbar-brand-font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  /* Bootstrap md breakpoint */
}

@media only screen and (min-width: 992px) {
  /* Bootstrap lg breakpoint */
  .hero {
    background-position-x: 85%;
    top: -60px;
  }
}

@media only screen and (min-width: 1200px) {
  /* Bootstrap xl breakpoint */
  .hero {
    background-position-x: 100%;
    background-position-y: 100%;
  }
  .card.lusty-finance .frame {
    height: 400px;
  }
}

@media only screen and (min-width: 1300px) {
  /* My Custom lxl breakpoint */
  .col-lxl-3 {
    width: 25%;
  }
}

@media only screen and (min-width: 1400px) {
  /* Bootstrap xxl breakpoint */
  .hero {
    background-position-y: 70%;
  }
  .card.lusty-finance .frame {
    height: 600px;
  }
}
