body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  line-height: 1.7;
}

.about {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.277)),
    url(../images/explorer1500W.jpg);
  background-size: cover;
  background-position: bottom;
  background-position-y: 30%;
}

.about .content {
  /* border: 1px solid black; */

  background-color: rgba(250, 235, 215, 0.598);
}

@media only screen and (min-width: 768px) {
  .about .content {
    /* border: 1px solid black; */
    background-color: rgba(250, 235, 215, 0.345);
  }
}
