body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  line-height: 1.7;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler span {
  height: 1.5rem;
  width: 40px;
}

/* not needed and actually not wanted - because nav <ul> is no longer to its right - and in small screens its actually in the middle! */
.navbar-brand {
  margin-right: 0;
  font-family: Agbalumo;
  font-size: 2rem;
  letter-spacing: 3px;
}

.hero {
  height: 500px;
  background-image: linear-gradient(
      to top,
      rgb(33, 37, 41),
      rgb(33, 37, 41, 0.9) 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(../images/explorer1500W.jpg);
  background-size: cover;
  background-position-y: bottom;
  background-position-x: right;
  /* border: 1px red solid; */
}

/* for pushing the about section below the hero background image */
.spacetaker {
  height: calc(500px - 96px);
}

.about h2 {
  font-family: Agbalumo;
}

/* sm breakpoint */
@media only screen and (min-width: 576px) {
  /* not required - but I like to keep breakpoints visual in the code as a helper / reminder */
}

/* md breakpoint */
@media only screen and (min-width: 768px) {
  /* prevents figure in background image rising and becoming obscured by nav */
  .hero {
    background-position-y: 30%;
  }
}

/* lg breakpoint */
@media only screen and (min-width: 992px) {
  .hero {
    height: 776px;
  }
}

/* lg breakpoint */
/* @media only screen and (min-width: 992px) {
  .about {
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.277)),
      url(../images/explorer1500W.jpg);
    background-size: cover;
    background-position: bottom;
    background-position-y: 30%;
  }

  .about .content {
    background-color: rgba(250, 235, 215, 0.345);
  }
} */
